################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/microservices
/.vs/Sample.ServiceBus
/src/Sample.Application.Lib
